/*整体位置*/
#positioner {
    margin : 0 auto;
    width  : 800px;
}

h1 {
    text-align : center;
    color      : green;
}

/*容器和样例*/
#puzzleAnaSample {
    height : 365px;
}

#container {
    border             : 1px solid black;
    margin             : 0 auto;
    position           : relative;
    width              : 360px;
    height             : 360px;
    float              : left;
    -webkit-box-shadow : 8px 8px 5px gray;
    box-shadow         : 8px 8px 5px gray;
    background-color   : #C8CCCD;
}

#panda {
    float : right;
}

/*下方按钮*/
#buttons {
    width    : 400px;
    margin   : 40px auto 10px;
    overflow : hidden;
}

input[type = button] {
    color              : white;
    height             : 50px;
    width              : 150px;
    background-color   : dodgerblue;
    font-size          : 17pt;
    -webkit-box-shadow : 2px 2px 1px gray;
    box-shadow         : 2px 2px 1px gray;
    border             : none;
}

.disabled[type = button] {
    background-color : dimgray;
}

input:active {
    -webkit-transform  : translate(2px, 2px);
    -moz-transform     : translate(2px, 2px);;
    transform          : translate(2px, 2px);
    -webkit-box-shadow : none;
    box-shadow         : none;

}

/*时间和分数*/

span, #chooseMode {
    width : 150px;
}

#information {
    width     : 400px;
    margin    : 0 auto;
    font-size : 16pt;
}

#time, #restart, #chooseMode {
    float : left;
}

#moveCounter, #resign {
    margin-left : 80px;
}

#selectMode {
    margin    : 10px auto 0;
    width     : 400px;
    font-size : 16pt;
}

#choosePicture {
    width : 180px;
    float : right;
}

/*小方格的设定*/
.box {
    position            : absolute;
    width               : 88px;
    height              : 88px;
    border              : 1px solid gray;
    transition          : all 0.2s;
    z-index             : 0;
    vertical-align      : middle;
    text-align          : center;
    font-size           : 0;
    font-weight         : bold;
    line-height         : 88px;
    -webkit-user-select : none;
    -moz-user-select    : none;
    user-select         : none;
}

.boxPic1 {
    background : url("images/panda.jpg");
}

.boxPic2 {
    background : url("images/meinv.jpg");
}

.boxPic3 {
    background : url("images/wangqing.jpg");
}

.boxNum {
    font-size  : 30pt;
    background : none;
}

.box:hover {
    transform         : scale(1.05);
    -webkit-transform : scale(1.05);
    z-index           : 1;
}

/*以下是各个方格的位置*/
/*横*/
.left0 {
    left : 0;
}

.left1 {
    left : 90px;
}

.left2 {
    left : 180px;
}

.left3 {
    left : 270px;
}

/*竖*/
.top0 {
    top : 0;;
}

.top1 {
    top : 90px;;
}

.top2 {
    top : 180px;
}

.top3 {
    top : 270px;
}

/*以下是各个方格的图案*/
.pos0 {
    background-position : 0 0;
}

.pos1 {
    background-position : -88px 0;
}

.pos2 {
    background-position : -176px 0;
}

.pos3 {
    background-position : -264px 0;
}

.pos4 {
    background-position : 0 -88px;
}

.pos5 {
    background-position : -88px -88px;
}

.pos6 {
    background-position : -176px -88px;
}

.pos7 {
    background-position : -264px -88px;
}

.pos8 {
    background-position : 0 -176px;
}

.pos9 {
    background-position : -88px -176px;
}

.pos10 {
    background-position : -176px -176px;
}

.pos11 {
    background-position : -264px -176px;
}

.pos12 {
    background-position : 0 -264px;
}

.pos13 {
    background-position : -88px -264px;
}

.pos14 {
    background-position : -176px -264px;
}

.pos15 {
    background-position : -264px -264px;
}
